<h3> Lets get started! Click on each category and list all the debt you have outstanding. Fill in the blanks </h3>
<table>
	<%= form_for @debt, remote: true, :html => { :id => "debts_entry" }  do |f| %>
	    <%= f.label :type %><br>
	    <%= f.select(:type, options_for_select(Debt.types.map {|type| [type.titleize, type]})) %>
	    <%= f.label :amount %>
	    <%= f.text_field :amount %>
	    <%= f.label :monthly_payment %>
	    <%= f.text_field :monthly_payment %>
	    <%= label_tag :rate %>
	    <%= text_field_tag :rate %>
	    <%= f.submit :submit%>
	<% end %>
</table>

<div id="debts_table">
  <%= render partial: 'debts_table', locals: {debts: @debts} %>
</div>

<%= link_to "Expenses", expenses_path %>
<br />
<br />
<hr />
<canvas id="debtsChart" class="data-charts" width="250" height="250"></canvas>
<canvas id="debtsRateChart" class="data-charts" width="250" height="250"></canvas>

<% content_for :javascript do %>
  <script type="text/javascript">
		var data_debtsChart = JSON.parse("<%= escape_javascript(raw(render partial: 'debts_chart', locals: {debts: @debts}, formats: :js)) %>");
		var ctx_debtsChart = document.getElementById("debtsChart").getContext("2d");
		var myPieChart = new Chart(ctx_debtsChart).Pie(data_debtsChart, {
			animationSteps: 100,
		  animationEasing: "easeOutBounce",
		  animateRotate: false
		});
		
		var data_debtsRateChart = JSON.parse("<%= escape_javascript(raw(render partial: 'debts_rate_chart', locals: {debts: @debts}, formats: :js)) %>");
		var ctx_debtsRateChart = document.getElementById("debtsRateChart").getContext("2d");
		var myBarChart = new Chart(ctx_debtsRateChart).Bar(data_debtsRateChart);
  </script>
<% end %>

